<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/home.css" />
    <%- include ('partials/head') %>
  </head>
  <body>
    <%- include ('partials/navbar') %>

    <div class="homewrapper">
      <div class="homenews">
        <h2><span>Welcome</span> to mirror park customs</h2>
        <img src="img/home.png">
        <p>
            
        </p>
      </div>

      <div class="homeinfo">
          <img src="img/logoinfo.png">
      </div>
      

    </div>

    <%- include ('partials/footer') %>
  </body>
</html>
