<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/navbar.css" />
  </head>
  <body>
    <header class="navbarheader">
      <nav class="nav-left">
        <a class="tab1" href="/home">Home</a>
        <a class="tab2" href="#">Taller</a>
        <a class="tab3" href="/app">Empleados</a>
        <a class="tab4" href="/adminpanel">Administracion</a>
      </nav>

      <nav class="nav-right">
        <!-- <a class="tab1" href="#">Active</a>
        <a class="tab2" href="#">Link</a> -->
        <a class="tab3" href="#">Perfil</a>
        <a class="tab4" href="/logout">Logout</a>
      </nav>
    </header>

    <!-- <div class="wrapper">
      <div class="tab1">
        <p>Home</p>
      </div>
      <div class="tab2">
        <p>Taller</p>
      </div>
      <div class="tab3">
        <p>Empleados</p>
      </div>
      <div class="tab4">
        <p>Administracion</p>
      </div>
      <div class="tab5">
        <p>About</p>
      </div>
    </div> -->
  </body>
</html>
